.heading {
  font-size: 52px;
  align-items: center;
  font-weight: bolder;
  font-family: "Merriweather Sans", sans-serif;
}
/* .con::before {
  content: "";
  position: absolute;
 
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
} */

.con{
  background: url("../img/about-bg.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.container-af {
  display:flex;
  font-family: Poppins, sans-serif;
  padding-bottom: 7px;
}
.container-af2 {
  display:flex;
  font-family: Poppins, sans-serif;
  padding-bottom: 7px;
}
.headings {
  color: rgba(124, 55, 55, 0.866);
  font-size: 29px;
  text-align: center;
  font-weight: bold;
  font-family: "Merriweather Sans", sans-serif;
  padding: 0 0px;
}
.content3 {
  display: block;
  padding-bottom: 25px;
  font-size: 20px;
  /* align-items: center; */
  padding-top: 40px;
  
  /* text-align: center; */
}
.content2 {
  display: block;
  padding-bottom: 25px;
  font-size: 20px;
  /* align-items: center; */
  padding-top: 40px;
  padding-left: 65px;
  /* text-align: center; */
}
.container-af .box {
  display: block;
  margin-left: auto; 
  align-items: center;
  width: 50%;
  transition: 0.5s;
  border: 1px solid white;
  border-radius: 5px;
  padding: 6px;
  margin: 19px;
  background-color: white;
}

.container-af2 .box {
  display: block;
  margin-left: auto;
  align-items: center;
  width: 50%;
  transition: 0.5s;
  border: 1px solid white;
  border-radius: 5px;
  padding: 6px;
  margin: 19px;
  background-color: white;
}
.container-af .box:hover {
  box-shadow: 10px 10px 10px 10px #f7bd14;
  top: -5px;
  right: -5%;
  border: none;
}
.container-af2 .box:hover {
  box-shadow: 10px 10px 10px 10px #f7bd14;
  top: -5px;
  right: -5%;
  border: none;
}

/* .contanier_as {
  display: flex;
  flex-direction: column;
} */
.mid-heading {
  padding-top: 40px;
  align-content: center;
  font-size: 25px;
  font-weight: 550;
  color: #2a3a5a;
}
.mid-heading-ext {
  align-content: center;
  font-size: 25px;
  font-weight: 550;
  color: #2a3a5a;
}

@media (max-width:830px) {
  .container-af {
    flex-direction: column;
    
  }
  .container-af2 {
    flex-direction: column;
  }
  .container-af .box {
    width: 100%;
  }
  .container-af2 .box {
    width: 100%;
  }
  .content2 {
    padding-left: 0;
  }
}